<!DOCTYPE html>
<html ng-app="shuffling">

  <head>
    <meta charset="utf-8" />
    <title>Shuffling Pines</title>

    <!-- build:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbuild -->

    <!-- using Gulp HTML Replace -->
    <!-- build:js -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../src/app.js"></script>
    <!-- endbuild -->

  </head>

  <body>
    <h1>Shuffling Pines</h1>
    <div class="row">
      <div class="col-md-12" ng-controller="TabController as TCtrl">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-class="{active:TCtrl.curPane('form')}" ng-click="TCtrl.setPane('form')"><a href="#form" aria-controls="form" role="tab" data-toggle="tab">Form</a></li>
          <li role="presentation" ng-class="{active:TCtrl.curPane('guests')}" ng-click="TCtrl.setPane('guests')"><a href="#guests" aria-controls="guests" role="tab" data-toggle="tab">Guests</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Tab pane 1 (form) -->
          <div role="tabpanel" class="tab-pane" ng-class="{active:TCtrl.curPane('form')}" id="form" ng-controller="FormController as FCtrl">
            <div class="row">
              <form class="col-md-6 well"  ng-submit="FCtrl.addGuest()">
                <div class="form-group">
                  <label for="guest-name">Guest Name</label>
                  <input type="text" class="form-control" id="guest-name" placeholder="" ng-model="FCtrl.guest_name">
                </div>
                <div class="form-group">
                  <label for="transition-date">Transition Date</label>
                  <input type="date" class="form-control" id="transition-date" placeholder="" ng-model="FCtrl.transition_date">
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="pickup" ng-model="FCtrl.pickup_dropoff" value="pickup" checked>
                    Pick-up
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pickup-dropoff" id="dropoff" ng-model="FCtrl.pickup_dropoff" value="dropoff">
                    Drop-off
                  </label>
                </div>
                <div class="form-group" ng-show="FCtrl.showLocation()">
                  <label for="location">Location</label>
                  <textarea class="form-control" id="location" ng-model="FCtrl.guest_location"></textarea>
                </div>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>
			  
			  <!-- bound display -->
			  <div class="row">
			  <div class="col-md-6 well">
				<div class="form-group">
				  <label>Name: </label>
				  <span ng-bind="FCtrl.guest_name"></span>
				</div>
				<div class="form-group">
				  <label>Transition Date: </label>
				  <span ng-bind="FCtrl.transition_date"></span>
				</div>
				<div class="form-group">
				  <label>Status: </label>
				  <span ng-bind="FCtrl.pickup_dropoff"></span>
				</div>
				<div class="form-group">
				  <label>Location: </label>
				  <span ng-bind="FCtrl.guest_location"></span>
				</div>
			  </div>
			</div>
		  </div>

          <!-- Tab pane 2 (guest) -->
          <div role="tabpanel" class="tab-pane" ng-class="{active:TCtrl.curPane('guests')}" id="guests" ng-controller="GuestListController as GLCtrl">
			<label>Show deleted?</label>
			<input type="checkbox" id="show_deleted" ng-model="GLCtrl.show_deleted">
            <div class="row" ng-repeat="guest in GLCtrl.getGuests()">
				<span ng-if="GLCtrl.showGuest(guest)">
					<form ng-submit="GLCtrl.updateGuest(guest, gdeleted)">
					<div class="col-md-3 well">
						<div class="row">
							<div class="col-sm-4">
								<label>Guest Name:</label>
							</div>
							<div>
							<input type="hidden" ng-model="guest.id" value=guest.id>
							<input type="text" id="guest-name" ng-model="guest.name">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>Transition Date:</label>
							</div>
							<div>
							<input type="text" id="guest-date" ng-model="guest.date">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>Action/Status:</label>
							</div>
							<div>
								<select name="guest_status" ng-model="guest.status">
									<option ng-value="{{ guest.status }}" ng-selected="selected">{{ guest.status }}</option>
									<option ng-value="{{ GLCtrl.getNextStatus(guest.status) }}">{{ GLCtrl.getNextStatus(guest.status) }}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>Location:</label>
							</div>
							<div>
							<textarea id="location" ng-model="guest.location">{{ guest.location }}</textarea>	
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>Deleted?</label>
							</div>
							<div>
								<input type="checkbox" name="guest-deleted" ng-model="gdeleted" ng-checked="guest.deleted">
							</div>
						</div>
					<button type="submit" class="btn btn-default">Apply Changes</button>&nbsp;<button class="btn btn-default" ng-click="GLCtrl.refreshGuests()">Discard Changes</button>
					</form>
					</div>
				</span>
			</div>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
